# Purpose: These programs connect to an SQLite database named "books.db," perform various SQL queries using Pandas, and display the results obtained from querying the database tables.

Author: Abdullah Shahab

In [1]:
import sqlite3
import pandas as pd


# Connect to the SQLite database
db_connection = sqlite3.connect('books.db')

# Create a cursor object to execute SQL queries
db_cursor = db_connection.cursor()

# Execute SQL query to select all rows from the titles table
db_cursor.execute("""SELECT * FROM titles""")

# Fetch all the rows from the executed query
rows_data = db_cursor.fetchall()

# Print the column headers
print("{:^12} {:^35} {:<10} {:^10}".format(db_cursor.description[0][0], db_cursor.description[1][0], db_cursor.description[2][0], db_cursor.description[3][0]))

# Print each row in the fetched data
for row in rows_data:
    print("{:<12} {:<35} {:^10} {:^10}".format(row[0], row[1], row[2], row[3]))

# Close the cursor and connection
db_cursor.close()
db_connection.close()

    isbn                    title                edition    copyright
0135404673   Intro to Python for CS and DS           1         2020
0132151006   Internet & WWW How to Program           5         2012
0134743350   Java How to Program                     11        2018
0133976890   C How to Program                        8         2016
0133406954   Visual Basic 2012 How to Program        6         2014
0134601548   Visual C# How to Program                6         2017
0136151574   Visual C++ How to Program               2         2008
0134448235   C++ How to Program                      10        2017
0134444302   Android How to Program                  3         2017
0134289366   Android 6 for Programmers               3         2016

In [2]:

import sqlite3
import pandas as pd


# Connect to the SQLite database
connection = sqlite3.connect('books.db')

# Fetch authors' last names in descending order
authors_desc = pd.read_sql("""SELECT last 
                              FROM authors 
                              ORDER BY last DESC""", connection)
print(authors_desc)
print()

# Fetch titles in ascending order
titles_asc = pd.read_sql("""SELECT title 
                             FROM titles 
                             ORDER BY title ASC""", connection)
print(titles_asc)
print()

# Fetch titles, copyright, and ISBN with a join, filtered in descending order.
titles_join = pd.read_sql("""SELECT title, copyright, titles.isbn 
                              FROM titles 
                              INNER JOIN author_ISBN 
                              ON author_ISBN.isbn = titles.isbn 
                              WHERE id LIKE '%5' 
                              ORDER BY title DESC""", connection)
print(titles_join)
print()

# Insert a new author into the authors table
cursor = connection.cursor()
cursor = cursor.execute("""INSERT INTO authors (first, last) 
                           VALUES ('Dale', 'Carnegie')""")

# Fetch updated authors' data including the newly inserted author
authors_updated = pd.read_sql('SELECT id, first, last FROM authors', connection, index_col=['id'])
print(authors_updated)

# Insert a new title into the titles table along with related information
cursor = cursor.execute("""INSERT INTO titles (isbn, title, edition, copyright) 
                           VALUES ('0671027034', 'How to Win Friends & Influence People', '1', '1998')""")

cursor = cursor.execute("""INSERT INTO author_ISBN (id, isbn) 
                           VALUES ('2', '0671027034')""")

# Fetch updated titles' data including the newly inserted title
titles_updated = pd.read_sql("""SELECT title 
                                FROM titles 
                                ORDER BY title ASC""", connection)
print(titles_updated)

# Close the database connection
connection.close()

     last
0    Wald
1   Quirk
2  Deitel
3  Deitel
4  Deitel

                              title
0         Android 6 for Programmers
1            Android How to Program
2                  C How to Program
3                C++ How to Program
4     Internet & WWW How to Program
5     Intro to Python for CS and DS
6               Java How to Program
7  Visual Basic 2012 How to Program
8          Visual C# How to Program
9         Visual C++ How to Program

                       title copyright        isbn
0  Android 6 for Programmers      2016  0134289366

        first      last
id
1        Paul    Deitel
2      Harvey    Deitel
3       Abbey    Deitel
4         Dan     Quirk
5   Alexander      Wald
6        Dale  Carnegie
                                    title
0               Android 6 for Programmers
1                  Android How to Program
2                        C How to Program
3                      C++ How to Program
4   How to Win Friends & Influence People
5           Internet & WWW How to Program
6           Intro to Python for CS and DS
7                     Java How to Program
8        Visual Basic 2012 How to Program
9                Visual C# How to Program
10              Visual C++ How to Program